*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #091921;
}
.calculator{
    position: relative;
    display: grid;
    box-shadow: 1px 1px 10px 1px rgb(206, 160, 160),
    -1px -1px 5px 1px rgb(174, 175, 181)
    ;
    border: 1px solid rgb(114, 108, 108);
    
   
}

.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
padding: 10px;
font-size: 18px;
background-color: rgb(191, 189, 189);
}
.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background-color: #0c2835;
    place-items: center;
    border: 1px solid rgba(0,0,0,.1);
   cursor: pointer;
   border-radius: 5px;
   margin-top: 3px;
   margin-right: 3px;
   font-size: 30px;
   border-radius: 50%;
}
.calculator span:hover{
    background-color: rgb(114, 109, 109);
}
.calculator span.active{
    background-color: #74ff3b;
    color: #111;
}
.calculator span.clear{
    grid-column: span 2;
    width: 120px;
    background-color: rgb(236, 21, 247);
    border-radius: 5px;
}
.calculator span.plus{
    grid-row: span 2;
    height:120px;
    border-radius: 5px;
}
.calculator span.equal{
   background-color: rgb(242, 20, 20);
}